.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2{
    margin-bottom: 20px;
    color: #1976d2;
  }
  form {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    .input {
      margin-bottom: 20px;
    }
  }
}
